/*Reset*/

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/

header {
    width: 100%;
    relative;
    position:fixed;
    z-index: 1;
 
}

.buttons {
    position: absolute;
    right: 0;
    top: 40px;
    
}

.buttons ul li {
    margin-right:30px;  
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 50px;
}

li a {
    text-decoration: none;
    padding: 25px;
    color: black;
    font-weight: bold;
}

/*Main*/

.background {
    height: 100vh;
    position: relative;
    
}

.product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.testo-bordato {
        text-align: center;
        font-size: 50px;
        line-height: 150%;
        color: yellow;
        text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}
#red {
    background-color: red;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

.special-text {
    color: green;
    text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}